*.o
*~
Makefile*
sfxc/aclocal.m4                          
sfxc/autom4te.cache/                             
sfxc/config.h                            
sfxc/config.h.in                                   
sfxc/config.log                       
sfxc/config.status                                                                                             
sfxc/config/compile                                                                                            
sfxc/config/config.guess                        
sfxc/config/config.sub                         
sfxc/config/test-driver                            
sfxc/configure                             
sfxc/configure.ac~                                                                                             
sfxc/configure~                             
sfxc/lib/calc10/lib/libfcalc.a           
sfxc/lib/calc10/src/.deps/                  
sfxc/lib/calc10/src/calc                 
sfxc/lib/common/.deps/                    
sfxc/lib/common/libcommon.a                 
sfxc/lib/common/test/.deps/                     
sfxc/lib/common/test/maintest                  
sfxc/lib/containers/.deps/                       
sfxc/lib/containers/libcontainers.a   
sfxc/lib/containers/test/.deps/            
sfxc/lib/containers/test/maintest        
sfxc/lib/jsoncpp/.deps/                     
sfxc/lib/jsoncpp/libjsoncpp.a               
sfxc/lib/netlib/.deps/                   
sfxc/lib/netlib/libnetlib.a               
sfxc/lib/testunit/.deps/                    
sfxc/lib/testunit/libtestunit.a          
sfxc/lib/vex_parser/install/                    
sfxc/lib/vex_parser/installed.txt              
sfxc/lib/vex_parser/vex_parser/COPYING           
sfxc/lib/vex_parser/vex_parser/INSTALL
sfxc/lib/vex_parser/vex_parser/aclocal.m4
sfxc/lib/vex_parser/vex_parser/autom4te.cache/
sfxc/lib/vex_parser/vex_parser/compile
sfxc/lib/vex_parser/vex_parser/config.guess 
sfxc/lib/vex_parser/vex_parser/config.log
sfxc/lib/vex_parser/vex_parser/config.status
sfxc/lib/vex_parser/vex_parser/config.sub   
sfxc/lib/vex_parser/vex_parser/configure
sfxc/lib/vex_parser/vex_parser/depcomp
sfxc/lib/vex_parser/vex_parser/install-sh                                                                      
sfxc/lib/vex_parser/vex_parser/lib/.deps/
sfxc/lib/vex_parser/vex_parser/lib/vex_parser.cc            
sfxc/lib/vex_parser/vex_parser/lib/vex_parser.h             
sfxc/lib/vex_parser/vex_parser/lib/vex_scanner.cc           
sfxc/lib/vex_parser/vex_parser/libtool                      
sfxc/lib/vex_parser/vex_parser/ltmain.sh                    
sfxc/lib/vex_parser/vex_parser/m4/                          
sfxc/lib/vex_parser/vex_parser/missing                      
sfxc/lib/vex_parser/vex_parser/python/.deps/                
sfxc/lib/vex_parser/vex_parser/src/.deps/                              
sfxc/lib/vex_parser/vex_parser/test-driver                                                                                      
sfxc/lib/vex_parser/vex_parser/vex_parser.pc                
sfxc/lib/vex_parser/vex_parser/ylwrap                                  
sfxc/src/.deps/                                                        
sfxc/src/sfxc                                                          
sfxc/src/svn_version.cc                                                
sfxc/stamp-h1                                                          
sfxc/utils/.deps/                                                      
sfxc/utils/baseline_info                                               
sfxc/utils/create_psrfits                                              
sfxc/utils/delay/.deps/                                                
sfxc/utils/delay/generate_delay_model                                                  
sfxc/utils/extract_channelizer                                                                                                                        
sfxc/utils/generate_uvw_coordinates                                    
sfxc/utils/make_anim                                                                   
sfxc/utils/mark5a_print_headers                                                        
sfxc/utils/mark5b_print_headers                                                        
sfxc/utils/phase_plot                                                                  
sfxc/utils/plot_delay_table                                                            
sfxc/utils/polyflag                                                                    
sfxc/utils/print_new_output_format                                                     
sfxc/utils/produce_html_diffpage                                                       
sfxc/utils/produce_html_plotpage                                                       
sfxc/utils/vdif_print_headers                                                          
sfxc/utils/vlba_print_headers                                                          
vex/__pycache__/                                                                       
sfxc/lib/vex_parser/vex_parser/lib/libvex_parser.a
sfxc/lib/vex_parser/vex_parser/lib/libvex_parser32.a
sfxc/lib/vex_parser/vex_parser/src/cpp_parser
sfxc/lib/vex_parser/vex_parser/src/parser
sfxc/utils/vdif_check_data

